.message {
    max-width: 80%;

    .username,
    .content {
        border-radius: 1.5rem;
        padding: 1rem;
    }
    .username {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: -0.5rem;
        width: max-content;
        background-color: yellow;
        color: #333;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .content {
        background-color: #333;
        color: #ff0;
        border-top-left-radius: 0;
    }
}
